$bgCol1: #3a003a;
$bgCol2: #210808;
$bgCol3: #a66b00;
$bgCol4: #005300;
$textCol1: #d9ecd9;
$textCol2: #ffff66;
$textCol3: #ececec;
$textCol4: #b7e2f3;
$transition: all 0.4s ease-in-out;
$boxShadow1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$boxShadow2: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$background: rgb(238, 174, 202);
$backgroundGrag: linear-gradient(
  250deg,
  rgba(238, 174, 202, 1) 0%,
  rgba(71, 144, 230, 1) 100%
);
$fontFamily1: "Alegreya Sans', sans-serif";
$fontFamily2: "Raleway', sans-serif";
$textShadow: 0px 2px 18px rgb(245 245 245 / 89%);
$letterSpacing: 5px;
$white: #ffffff;
$textFontSize: 1.5rem;
